<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testproiect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".logare.LogInActivity">

        </activity>
        <activity android:name=".logare.RegisterActivity">

        </activity>
        <activity android:name=".oferte.OferteCardActivity"></activity>
        <activity android:name=".card.InfoCardActivity">

        </activity>
        <activity android:name=".logare.ProfilActivity"></activity>
        <activity android:name=".card.AdaugareCardActivity"></activity>
        <activity android:name=".magazine.partenere.InfoMagazinePartenereActivity"></activity>
        <activity android:name=".magazine.partenere.MagazinePartenereActivity"></activity>
        <activity android:name=".wishlist.WishlistActivity"></activity>
        <activity android:name=".wishlist.AddWishlistActivity">

        </activity>
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>