<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testproiect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"   android:screenOrientation="portrait">

        </activity>
        <activity android:name=".logare.LogInActivity"   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".logare.RegisterActivity">

        </activity>

        <activity android:name=".oferte.OferteCardActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".card.InfoCardActivity"   android:screenOrientation="portrait">

        </activity>
        <activity android:name=".profil.ProfilActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".card.AdaugareCardActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".magazine.partenere.InfoMagazinePartenereActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".magazine.partenere.MagazinePartenereActivity"   android:screenOrientation="portrait" ></activity>
        <activity android:name=".wishlist.WishlistActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".wishlist.AddWishlistActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".grafic.GraficActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".AboutActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".profil.InfoProfilActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".coduri.promotionale.CodPromotionalActivity"   android:screenOrientation="portrait"></activity>
        <activity android:name=".coduri.promotionale.AddCodPromotionalActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>